# Build output
build/
out/
install/
_build/
*.obj
*.o
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.tlog
*.log
*.lastbuildstate
*.recipe
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
compile_commands.json
Testing/
*.sarif
*.dmp
*.mdmp
*.store
*.tmp
*.bak
